source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json
source ../localnuget

framework: netstandard2.0

storage: none
strategy: min

nuget WebSharper ~> 8.0
nuget WebSharper.FSharp ~> 8.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script websharper80

group testing
    source https://api.nuget.org/v3/index.json
    source https://nuget.pkg.github.com/dotnet-websharper/index.json
    source ../localnuget

    framework: netstandard2.0, net8.0

    storage: none
    strategy: min

    nuget FSharp.Core
    nuget WebSharper ~> 8.0
    nuget WebSharper.FSharp ~> 8.0
